# Supabase Configuration
VITE_SUPABASE_URL=https://wrtnwybwgsmdpngswnbm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_A3_wHsmhcBDdClAwO5YszQ_NUT0i8sC

# Backend API Base URL
# Local Development: http://localhost:5000/api
# Production Deployment (Vercel): https://medsync-healthcare-appointment-manager.onrender.com/api
VITE_API_URL=http://localhost:5000/api
